<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!--Nav_Bar-->
    <header>
      <img src="/images/CV.png" alt="Webpage Logo" class="logo">
      <h1>Welcome to <%= title %></h1>
      <nav>
        <a href="/">Home</a>
        <a href="/resumes/new">Create Resume</a>
      </nav>
    </header>

    <!--Hero_Button-->
    <section>
      <h2>Create your Perfect Resume</h2>
      <a class="hero-button" href="/resumes/new"><%= buttonText %></a>
    </section>

    <footer>
      <p>&copy; <%= new Date().getFullYear() %> <%= title %></p>
    </footer>
  </body>
</html>
